---
---

$tablet-width: 768px
$desktop-width: 1024px

=media($size)
  @media (min-width: #{$size})
    @content

$primary-font: #111
$link-font: #333
    
body
    color: $primary-font
    margin-top: 60px

.main-content
    min-height: 100vh

.container
    position: relative
    width: 100%
    max-width: 970px
    margin: 0 auto
    padding: 0 20px
    box-sizing: border-box
    &:after
        content: ""
        display: table
        clear: both
    +media($tablet-width)
        width: 80%

.main-logo
  max-height: 50vh

h1
    font-weight: lighter

a
    color: $link-font
