---
---

$tablet-width: 768px
$desktop-width: 1024px

=media($size)
  @media (min-width: #{$size})
    @content

$primary-font: #333
$secondary-font: #fff
    
body
    color: $primary-font
    margin-top: 60px

.main-content
    min-height: 100vh

.container
    position: relative
    width: 100%
    max-width: 970px
    margin: 0 auto
    padding: 0 20px
    box-sizing: border-box
    &:after
        content: ""
        display: table
        clear: both
    +media($tablet-width)
        width: 80%

.button.is-secondary
    color: $primary-font
    border-color: $primary-font
    &:hover
        background-color: $primary-font
        border-color: $primary-font
