nav{
    font-family: 'IBM Plex Sans', sans-serif;
    letter-spacing: .2em;
    height: 45px;
    padding: 10px 0;
    background-color: #fff;
    width: 100%;
    z-index: 10;
    text-transform: uppercase;
}

nav > .nav-holder > .company{
    text-align: center;
    padding: 14px 0;
    font-weight: 500;
}

@media (min-width: 550px) {
    nav > .nav-holder > .company{
        float: left;
        text-align: left;
    }
}


nav > .nav-holder > .company > a{
    color: #333;
    text-decoration: none;
}

nav > .nav-holder > .company > a:hover, nav > .nav-holder > .links > ul > li > a:hover{
    color: #2E8F74;
    text-decoration: none;
}

nav > .nav-holder > .links{
    display: none;
}

@media (min-width: 550px) {
    nav > .nav-holder > .links{
        float: right;
        display: block;
    }
}

nav > .nav-holder > .links > ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav > .nav-holder >.links > ul > li{
    float: left;
}

nav > .nav-holder > .links > ul > li > a{
    display: block;
    text-decoration: none;
    text-align: center;
    margin-top: 5px;
    padding: 6px 16px;
    color: #333;
    font-weight: 400;
}

.header-block{
    text-align: center;
    text-transform: uppercase;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.header-block.resource{
    text-align: left !important;
    padding-top: 2em;
    padding-bottom: 2em;
}

@media (min-width: 750px) {
    .header-block{
	padding-top: 20vh;
	padding-bottom: 20vh;
    }
}

.header-block > h1, .header-block > h2{
    margin-bottom: 4rem;
}

.header-block > h2{
    font-weight: 300;
}

ol{
    list-style-type: decimal-leading-zero;
}

ol > li{
    font-weight: 600;
}

.no-list{
    list-style-type: none;
}

.no-list > li{
font-size: 1.2em;
font-weight: 300;
line-height: 1.5em;
margin: 0 0 1.75em;
}

.sb{
    margin-top: 5em;
    margin-bottom: 5em;
}

.bb{
    border-bottom: 1px solid #ddd;
}

label{
    text-transform: uppercase;
    font-weight: bold;
}

input, textarea{
    display: block;
    min-width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 10px 10px;
    border-radius: 0;
    border: 2px solid #333;
    color: #333;
}