<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ page.title }} | Gratis Design</title>
    <meta name="description" content="{{ page.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#00a300">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="{{site.baseurl}}/css/normalize.css">
    <link rel="stylesheet" href="{{site.baseurl}}/css/kube.css">
    <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,400,900" rel="stylesheet">
    <script src="/js/countUp.min.js"></script>

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | replace:'.html', '' | absolute_url }}">
</head>
<body>
    <div id="mobile-nav" class="mobile-nav" style="display:none;">
        <div class="container">
            <div class="is-text-right"><span class="close is-big" onclick="toggle_nav();"></span></div>
            <h3>GratisDesign</h3>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/resources">Resources</a></li>
                    <li><a href="/contact">Get in touch</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="navbar-container">
        <div class="container">
            <div class="is-navbar-container container">
                <div class="is-brand">
                    <b class="is-logo"><a href="{{site.baseurl}}/">GratisDesign</a></b>
                    <a href="#"
                    class="nav-toggle is-push-right-mobile is-shown-mobile icon-kube-menu"
                    onclick="toggle_nav();"></a>
                </div>
                <div class="is-navbar is-hidden-mobile">
                    <nav class="is-push-right">
                        <ul>
                            <ul>
                                <li><a {% unless page.url contains 'resources' or page.url contains 'contact' %}class="active-link"{% endunless %} href="/">Home</a></li>
                                <li><a {% if page.url contains 'resources' %}class="active-link"{% endif %} href="/resources">Resources</a></li>
                                <li><a {% if page.url contains 'contact' %}class="active-link"{% endif %} href="/contact">Get in touch</a></li>
                            </ul>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="main-content">
    {{ content }}
    </div>
    {% include footer.html %}
    <script>
        var isInViewport = function (elem) {
            var bounding = elem.getBoundingClientRect();
            return (
                bounding.top >= 0 &&
                bounding.bottom <= (window.innerHeight || document.documentElement.clientHeight)
            );
        };

        var show_items = document.getElementsByClassName('item-show');
        var right_items = document.getElementsByClassName('item-right');
        var left_items = document.getElementsByClassName('item-left');
        var up_items = document.getElementsByClassName('item-up');

        var check_animation = function (event) {
            for (index = 0; index < show_items.length; ++index) {
                if (isInViewport(show_items[index]) && !show_items[index].classList.contains('in-view-appear')) {
                    show_items[index].classList.add('in-view-appear');
                }
            }
            for (index = 0; index < right_items.length; ++index) {
                if (isInViewport(right_items[index]) && !right_items[index].classList.contains('in-view-right')) {
                    right_items[index].classList.add('in-view-right');
                }
            }
            for (index = 0; index < left_items.length; ++index) {
                if (isInViewport(left_items[index]) && !left_items[index].classList.contains('in-view-left')) {
                    left_items[index].classList.add('in-view-left');
                }
            }
            for (index = 0; index < up_items.length; ++index) {
                if (isInViewport(up_items[index]) && !up_items[index].classList.contains('in-view-up')) {
                    up_items[index].classList.add('in-view-up');
                }
            }
        };
        window.addEventListener('load', check_animation, false);
        window.addEventListener('scroll', check_animation, false);
        function toggle_nav(){
            var x = document.getElementById("mobile-nav");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>
</body>

</html>
