---
layout: base
---

<div class="hero-banner container">
    <div class="logo">
        <img src="/images/logo.png" alt="Gratis Design">
    </div>
    <div class="hero-banner-words">
        <h1>GratisDesign</h1>
        <h3>Free websites for UK based charities and nonprofits.</h3>
        <a href="{{ site.baseurl }}/contact" class="button is-big is-main is-secondary">Get in touch</a>
    </div>
</div>

<div class="container">
    <div class="seperator"></div>
</div>

<section class="container introduction">
    <div class="is-row">
        <div class="is-col">
            <h2 class="uppercase">What is GratisDesign?</h2>
            <p class="is-large">We want to help you reduce the cost of your online presence by taking care of designing,
                developing and maintaining your website.</p>
            <p>A website is very important. If done correctly it can easily expand the reach of your cause, get
                information to those who want it quickly and easily as well as giving you the ability to promote
                yourself.</p>
            <p>With over 80% of the developed world, and 40% of the developing world, capable of accessing the internet
                there is no better time to move your business online.</p>
        </div>
        <div class="is-col">
            <p>Gratis was established to give back to those who are trying to help others, to raise awareness for their
                cause or wish to make the world a better place. If you fit into any of those criteria then Gratis wants
                to hear from you.</p>
            <p>We offer advice, support and free services for all those that need it.</p>
            <p>Utilising tried and tested Open Source solutions and our professional experience within the IT sector we
                can bring website costs down to just the domain name.</p>
            <p>We work with you to get you the solution you need for the smallest cost with no loss of quality.</p>
        </div>
    </div>
</section>

<section class="container">
    {{ content }}
</section>