---
layout: base
---
<div class="header-block">
    <h1 class="page-header">We build free websites</h1>
    <h2 class="page-subheader">Are you a charity, nonprofit or individual?</h2>
    <a href="/contact"><button class="button button-second header-button">Let us help</button></a>
</div>

<div class="container">
    <section class="sb">
        <h3>Why should you have a website?</h3>
        <div class="row reveal">
            <div class="six columns">
                <p>A website is very important. If done correctly it can easily expand the reach of your cause, get information to those who want it quickly and easily as well as giving you the ability to promote yourself.
                </p>
            </div>
            <div class="six columns">
                <p>With over 80% of the developed world, and 40% of the developing world, capable of accessing the internet there is no better time to move your business online.
                </p>
            </div>
        </div>
    </section>
</div>

<section class="stats-screen">
    <div class="container">
        <h3 class="reveal">Internet stats</h3>
        <div class="row">
            <div class="four columns reveal">
                <h3>342 <small>million</small></h3>
                <p>registered <a href="/resources/what-is-a-domain-name">domain names</a>.</p>
            </div>
            <div class="four columns reveal">
                <h3>5 <small>billion</small></h3>
                <p>Google searches every day.</p>
            </div>
            <div class="four columns reveal">
                <h3>52.2 <small>percent</small></h3>
                <p>of internet traffic is mobile.</p>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <section>
        <h3>Why are we doing this?</h3>
        <div class="row reveal">
            <div class="six columns">
                <p>Gratis was established to give back to those who are trying to help others, to raise awareness for their cause or wish to make the world a better place. If you fit into any of those criteria then Gratis wants to hear from you.
                </p>
                <p>We offer advice, support and free services for all those that need it.
                </p>
            </div>
            <div class="six columns">
                <p>Utilising tried and tested Open Source solutions and our professional experience within the IT sector we can bring website costs down to just the domain name.
                </p>
                <p>We work with you to get you the solution you need for the smallest cost with no loss of quality.
                </p>
            </div>
        </div>
    </section>

    <section>
        <h3>How it works</h3>
        <ol>
        <li>What is the site for?</li>
        <ul class="no-list reveal">
        <li>For a website to be successful it needs to have a core theme or message. It could be about your company, a certain cause or a single topic that you wish to showcase.</li>
        </ul>
        <li>Get a domain name</li>
        <ul class="no-list reveal">
        <li>A domain name is very important, it's the first thing a user will see and it can be used to quickly explain what your website is about.</li>
        <li>To find out more about domain names click <a href="/resources/what-is-a-domain-name">here</a>. </li>
        </ul>
        <li>Plan your content</li>
        <ul class="no-list reveal">
        <li>Only you know what your site should contain to best convey your theme or message and it's best to plan what important information needs to be on the website.</li>
        <li>You don't need to have everything figured out, we are more than happy to work with you with this planning stage.</li>
        </ul>
        <li>Get in touch</li>
        <ul class="no-list reveal">
        <li>Let us know that you want our help and we will help you plan and construct your website. We take care of all the technical headaches so you don't have to worry about anything!</li>
        </ul>
    </section>

    <section>
        {{ content }}
    </section>
</div>
<script>
window.sr = ScrollReveal();
sr.reveal('.page-header', {duration: 1000});
sr.reveal('.page-subheader', {duration: 1300});
sr.reveal('.header-button', {duration: 1600});
sr.reveal('.reveal', {duration: 2000});
</script>
</div>
