---
layout: base
---

<div class="container">
    <img src="/images/logo-box.svg">
    <div class="is-stack-60">
	<h1>Free websites for UK based charities and nonprofits.</h1>
	<h4>Website design and support for UK based charities and small non-profit companies looking to keep costs down on a digital footprint.</h4>
    </div>
    <div class="is-stack-60">
	<p>Gratis was established to give back to those who are trying to help others, to raise awareness for their cause or wish to make the world a better place. If you fit into any of those criteria then Gratis wants to hear from you.</p>
	<p>We offer advice, support and free services for all those that need it. </p>
	<p>Utilising tried and tested Open Source solutions and our professional experience within the IT sector we can bring website costs down to just the domain name.</p>
	<p>We work with you to get you the solution you need for the smallest cost with no loss of quality.</p>
    </div>
    <div class="is-stack-60 is-text-center">
	<a href="mailto:hello@gratisdesign.co.uk" class="button is-secondary">Email us</a>
    </div>
</div>
