---
layout: base
---
<section class="container">    
    <nav class="breadcrumb">
        <a href="/">home</a>
        <a href="/resources">resources</a>
        <span>{{ page.title|downcase }}</span>
    </nav>
    <h1 class="page-header">{{ page.title }}</h1>
    <h2 class="page-subheader">{{ page.description }}</h2>
</section>

<div class="container">
    <div class="seperator"></div>
</div>

<section class="container resource-body">
    {{ content }}
</section>

<script>
window.sr = ScrollReveal();
sr.reveal('.page-header', {duration: 1000});
sr.reveal('.page-subheader', {duration: 1300});
</script>
